#!/usr/bin/env ruby

unless defined? LOADED_DEFAULT_CONFIG
  LOADED_DEFAULT_CONFIG = true
  require 'compass'
  Compass.add_project_configuration 'compass.rb'
end

compile '/index.html' do
  layout '/default.*'
  write '/index.html'
end

compile '/**/*.html' do
  layout '/default.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.scss' do
  filter :sass, Compass.sass_engine_options
end

compile '/**/*' do
  write item.identifier.to_s
end

route '/**/*.scss' do
  item.identifier.without_ext + '.css'
end

route '/**/*.css' do
  item.identifier
end

layout '/**/*', :erb
