<% content_for :page_class, "home" %>
<div class="img_us">
  <div class="content">
    <div class="title">Pauline & Damien</div>
    <div class="date">05.08.2017</div>

    <div class="countdown">
      <div class="entry days">
        <span class="value"></span>
        <span class="title">days</span>
      </div>
      <div class="entry hours">
        <span class="value"></span>
        <span class="title">hours</span>
      </div>
      <div class="entry minutes">
        <span class="value"></span>
        <span class="title">minutes</span>
      </div>
      <div class="entry seconds">
        <span class="value"></span>
        <span class="title">seconds</span>
      </div>
    </div>
  </div>
</div>
