<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Pauline et Damien se marient!</h3>
  </div>

  <div class="row">
    <div class="col-zs-12 text-center">
      <h1>Plus d'informations bientot !</h1>
    </div>
  </div>
</div>
