<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h1>Chambres d'hotes</h1>
      <ul>
        <li><a href="http://rampeau.free.fr/">Le Rampeau</a></li>
        <li><a href="http://patrick.picheloup.free.fr/">Le moulin de Pine</a></li>
        <li><a href="http://www.les-pesques.com/">Les pesques</a></li>
        <li><a href="http://notredamedelorette.com/pratiq/ch/Campignas.pdf">Campignas</a></li>
        <li><a href="http://www.benque-hotes.com/">Benqu'Hotes</a></li>
        <li><a href="http://www.lescalere.jimdo.com/">L'escalère</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h1>Hotels</h1>
      <ul>
        <li><a href="http://fr.federal-hotel.com/hotel_hotel-restaurant-du-lac-boussens_11419.htm">Hotel du lac</a></li>
        <li><a href="http://fr.federal-hotel.com/hotel_hotel-le-tolosan-boussens_111210.htm">Le Tolosan</a></li>
        <li><a href="http://fr.federal-hotel.com/hotel_hotel-le-cerf-blanc-aurignac_11431.htm">Le cerf blanc</a></li>
        <li><a href="http://fr.federal-hotel.com/hotel_hotel-le-cochon-de-lait-cazeres_11422.htm">Le cochon de lait</a></li>
        <li><a href="http://fr.federal-hotel.com/hotel_auberge-ariegeoise-cazeres_11722.htm">Auberge Ariégeoise</a></li>
        <li><a href="http://fr.federal-hotel.com/hotel_hotel-castet-martres-tolosane_11395.htm">Castet</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h1>Gites</h1>
      <ul>
        <li><a href="http://www.gite-moulindebachas.com/">Moulin de Bachas</a></li>
        <li><a href="http://notredamedelorette.com/pratiq/saintblancat.html">Saint Blancat</a></li>
        <li><a href="http://notredamedelorette.com/pratiq/R-beillat.pdf">Rébeillat</a></li>
      </ul>
    </div>
  </div>
</div>
