<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h1>Chambres d'hotes</h1>
      <ul>
        <li><a href="http://rampeau.free.fr/">Le Rampeau</a></li>
        <li><a href="http://patrick.picheloup.free.fr/">Le moulin de Pine</a></li>
        <li><a href="http://www.les-pesques.com/">Les pesques</a></li>
        <li><a href="http://notredamedelorette.com/pratiq/ch/Campignas.pdf">Campignas</a></li>
        <li><a href="http://www.benque-hotes.com/">Benqu'Hotes</a></li>
        <li><a href="http://www.lescalere.jimdo.com/">L'escalère</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h1>Hotels</h1>
    </div>

    <div class="col-md-4">
      <h1>Gites</h1>
    </div>
  </div>
</div>
